* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*hace que el border, el padding no afecte el ancho de los elementos*/
}

html {
  font-size: 62.5%;
  /*convierte 1 rem a 10 px*/
}

/*GENERALES*/
h1, h2, h3, a {
  font-family: "League Spartan", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

/*HEADER*/
.bg-nav-personalizado {
  background-color: #f6f6f4;
}

.bar {
  justify-content: flex-end;
}
.bar a {
  font-size: 2rem;
  color: #4b6246;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
}

.logo {
  width: 15rem;
}

/*FOOTER*/
.list {
  list-style-type: none;
}
.list a {
  text-decoration: none;
}

.container-footer {
  background-color: #f6f6f4;
  color: #4b6246;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 2rem 2rem 2rem;
  position: relative;
  margin-top: 2rem;
}
.container-footer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.container-footer p {
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
  padding-top: 1rem;
}
.container-footer a {
  font-size: 1rem;
  color: #4b6246;
  font-weight: bold;
}

.icon {
  color: #4b6246;
}

.sucursales svg {
  position: absolute;
  top: 4rem; /*al expandir la pantallla se va a romper*/
  left: 33%;
}

.seguinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.474)), url(../assets/img/bayas-cafe-1-scaled.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.frase-principal {
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}
.frase-principal h1 {
  font-size: 5rem;
}
.frase-principal h2 {
  font-size: 2rem;
}

/*espacios, productos destacados y opiniones  */
.subtitulos h2 {
  background-color: #8A5938;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*ESPACIOS*/
.carousel-inner > .item > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: auto;
}
.carousel-inner > .item > a > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: auto;
}

.item h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
}
.item p {
  font-size: 0;
}

/*frase */
.barra {
  background-color: #8A5938;
  padding: 2rem;
}

.barra__bg {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../assets/img/coffe_branch_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.element {
  position: absolute;
}

.element1 {
  top: 5px;
  left: 75px;
}
.element1 h2, .element1 p {
  text-align: center;
}

.element3 {
  top: 200px;
  left: 100px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s;
}
.element3:hover {
  transform: scale(1.15);
}
.element3 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.element2 {
  background-color: #8c522c;
  padding: 9rem;
  top: 360px;
  left: 65px;
}

.style1 {
  color: #4b6246;
}

/*OPINIONES DE CLIENTES*/
.opinions {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.opinions-body {
  width: 100%;
  height: auto;
}
.opinions-body p {
  color: #000000;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 500;
}
.opinions-body h3 {
  font-size: 2rem;
  color: #4b6246;
  margin-left: 2rem;
}
.opinions-body img {
  width: 6rem;
  height: auto;
  display: block;
}

.img-nombre {
  display: flex;
}

/*CAFE, PASTELERIA,CURSOS Y CATAS, CONTACTO*/
.titulo {
  color: #4b6246;
  text-align: center;
  font-size: 3rem;
  padding: 3rem 3rem 0 3rem;
}

/*COSAS EN COMUN PAG CAFE Y PASTELERIA*/
.producto-informacion {
  background-color: #f6f6f4;
}
.producto-informacion p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.producto-informacion h2 {
  font-size: 1.5rem;
  font-family: "League Spartan", sans-serif;
  text-align: center;
}

.cantidad-productos {
  border: solid #4b6246;
  background-color: #f6f6f4;
  color: #4b6246;
  font-size: 1.3rem;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  padding: 1rem;
  appearance: none;
}

.sidebar {
  /*modificar para que me abra una ventana emergente al dar click a filtro*/
  text-align: center;
}
.sidebar h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  text-align: start;
}
.sidebar p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: start;
}

.list-cafeteria {
  list-style-type: none;
  display: grid;
  gap: 2rem;
  padding-left: 0;
}

.filtro-submit {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5%;
  font-size: 1.5rem;
  font-family: "League Spartan", sans-serif;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}
.filtro-submit:hover {
  cursor: pointer;
  background-color: #8A5938;
}

.grilla-productos-cafe {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 2rem;
  margin: 4rem;
}

.grilla-producto-cafe p, input {
  width: 100%;
}

.grilla-producto-cafe img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.submit, .curso__submit {
  color: #ffffff;
  background-color: #8A5938;
  border-color: #8c522c;
  border-radius: 5%;
  font-size: 1.3rem;
  font-family: "League Spartan", sans-serif;
  padding: 1rem;
  transition: background-color 0.5s ease;
}
.submit:hover, .curso__submit:hover {
  cursor: pointer;
  background-color: #f6f6f4;
  color: #000000;
}

.grilla-productos-pasteleria {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  margin: 3rem;
}

.grilla-producto-pasteleria {
  transform: scale(0.8);
  transition: 0.3s;
}
.grilla-producto-pasteleria p, .grilla-producto-pasteleria input {
  width: 100%;
}
.grilla-producto-pasteleria img {
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 20px #4b6246;
  border-radius: 15px;
}
.grilla-producto-pasteleria:hover {
  transform: scale(1);
}

/*PAGINA DE CURSOS Y CATAS*/
.contenedor {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 3rem;
}
.contenedor__curso {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1.5px solid #4b6246;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 5%;
  border-bottom-style: groove;
  border-top: 1.5px solid #4b6246;
  border-top-right-radius: 5%;
  border-top-left-radius: 15%;
  border-top-style: groove;
}
.contenedor__curso__informacion {
  padding: 2rem 2rem 0 2rem;
}
.contenedor__curso__informacion p {
  text-align: center;
  font-size: 1.5rem;
}
.contenedor__curso__informacion h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.contenedor__curso__imagen {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor__curso__imagen img {
  width: 40%;
  border-radius: 15px;
}

.descripcion-curso p {
  text-align: justify;
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn__curso__submit {
  display: grid;
  justify-content: center;
  align-items: center;
}

.curso__submit {
  width: 100%;
}

.btn {
  padding-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #4b6246;
  font-weight: bold;
}

.modal-title {
  color: #4b6246;
  font-size: 3rem;
}

.modal-body {
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: "Roboto", sans-serif;
}
.modal-body p {
  text-align: justify;
  font-size: 1rem;
}
.modal-body li {
  font-size: 1rem;
}
.modal-body h2 {
  color: #4b6246;
  font-weight: bold;
  text-align: start;
  font-size: 2rem;
}

.modal-content {
  padding-right: 3rem;
  background-image: url(../assets/img/coffe_branch_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.contacto-bg {
  background-image: url(../assets/img/contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.formulario {
  background-color: #ffffff;
  margin: -7rem auto 0 auto;
  width: 80%;
  padding: 2rem;
}

.campo {
  display: flex;
  margin-bottom: 1rem;
  text-align: right;
}

.campo-label {
  font-size: 1.5rem;
  flex: 0 0 9rem;
  padding-right: 2rem;
}

.campo-field {
  font-size: 1.5rem;
  flex: 1;
}

.campo-field-textarea {
  height: 15rem;
}

.boton {
  display: block;
  font-family: "League Spartan", sans-serif;
  color: #4b6246;
  text-align: center;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  border: none;
}
.boton:hover {
  cursor: pointer;
}

.boton-primario {
  background-color: #f6f6f4;
}

/*MEDIA QUERIES*/
/*INDEX*/
@media screen and (min-width: 480px) {
  .bg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .text-overlay {
    padding: 2rem;
  }
  .frase-principal h1 {
    font-size: 5rem;
  }
  .frase-principal h2 {
    font-size: 2rem;
  }
  .subtitulos h2 {
    margin-top: 0;
  }
  .barra__bg {
    height: 800px;
  }
  .element1 {
    top: 55px;
    left: 200px;
  }
  .element1 h2 {
    font-size: 4.5rem;
  }
  .element1 p {
    font-size: 2.5rem;
  }
  .element3 {
    top: 420px;
    left: 300px;
  }
  .element2 {
    padding: 12rem;
    top: 520px;
    left: 230px;
  }
}
@media screen and (min-width: 768px) {
  .bg {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .frase-principal h1 {
    font-size: 7rem;
  }
  .frase-principal h2 {
    font-size: 3rem;
  }
  .subtitulos h2 {
    font-size: 4rem;
  }
  .carousel-inner > .item > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .carousel-inner > .item > a > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .element1 {
    top: 255px;
    left: 30px;
  }
  .element3 {
    top: 250px;
    left: 500px;
  }
  .element2 {
    top: 340px;
    left: 450px;
  }
}
@media screen and (min-width: 992px) {
  .bg {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  .text-overlay {
    padding: 4rem;
  }
  .frase-principal h1 {
    font-size: 10rem;
  }
  .frase-principal h2 {
    font-size: 5rem;
  }
  .opinions {
    flex-direction: row;
  }
  .opinions-body {
    width: 30%;
    margin: 1.5rem;
  }
  .opinions-body p {
    text-align: left;
    margin-left: 3rem;
  }
  .carousel-inner > .item > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .carousel-inner > .item > a > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .carousel {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .item h3 {
    font-size: 3rem;
  }
  .item p {
    font-size: 2rem;
  }
  .element1 {
    top: 200px;
    left: 140px;
  }
  .element1 h2 {
    font-size: 8rem;
  }
  .element1 p {
    font-size: 4rem;
  }
  .element3 {
    top: 200px;
    left: 930px;
  }
  .element3 img {
    width: 120%;
    height: 400px;
  }
  .element2 {
    top: 430px;
    left: 870px;
  }
}
/*CAFETERIA*/
/*MEDIA QUERIES*/
@media screen and (width < 768px) {
  .sidebar {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container-principal-cafe {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .sidebar {
    padding-left: 3rem;
  }
  .grilla-productos-cafe {
    grid-template-columns: repeat(3, 30%);
  }
}
@media screen and (min-width: 992px) {
  .container-principal-cafe {
    grid-template-columns: 10% 90%;
  }
  .grilla-productos-cafe {
    grid-template-columns: repeat(4, 20%);
  }
  .sidebar {
    padding-left: 3rem;
  }
  .submit, .curso__submit {
    font-size: 1.5rem;
  }
  .cantidad-productos {
    font-size: 1.5rem;
  }
}
/**MEDIA QUERIES CONTACTO*/
@media screen and (min-width: 992px) {
  .contacto-bg {
    height: 30rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .formulario {
    margin: -5rem auto 0 auto;
    width: 50%;
    padding: 5rem;
  }
  .campo {
    margin-bottom: 2rem;
  }
  .campo-field-textarea {
    height: 20rem;
  }
  .boton {
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .boton-primario {
    padding: 1rem;
  }
}
/*MEDIA QUERIES CURSOS Y CATAS*/
@media screen and (min-width: 480px) {
  .contenedor {
    grid-template-columns: 90%;
  }
}
@media screen and (min-width: 768px) {
  .contenedor {
    grid-template-columns: 80%;
  }
  .contenedor__curso__informacion h3 {
    font-size: 3rem;
  }
  .contenedor__curso__informacion p {
    font-size: 2rem;
  }
  .curso__submit {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor {
    grid-template-columns: 60%;
  }
  .contenedor__curso__informacion h3 {
    font-size: 3rem;
  }
  .contenedor__curso__informacion p {
    font-size: 2rem;
  }
  .curso__submit {
    font-size: 2rem;
  }
}
/*MEDIA QUERIES PASTELERIA*/
@media screen and (min-width: 480px) {
  .grilla-productos-pasteleria {
    grid-template-columns: repeat(3, 30%);
    gap: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .grilla-productos-pasteleria {
    grid-template-columns: repeat(3, 30%);
  }
  .grilla-productos-pasteleria .grilla-producto-pasteleria:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 992px) {
  .container-principal-pasteleria {
    display: grid;
    grid-template-columns: 10% 90%;
    padding-left: 3rem;
  }
  .grilla-productos-pasteleria {
    grid-template-columns: repeat(4, 20%);
  }
}

/*# sourceMappingURL=style.css.map */
