/*CAFE, PASTELERIA,CURSOS Y CATAS, CONTACTO*/
.titulo {
  color: $verde;

  h1{
  text-align: center;
  font-size: 4rem;
  padding: 3rem 3rem 0 3rem;

  }
  
}


/*COSAS EN COMUN PAG CAFE Y PASTELERIA*/

.producto-informacion{
  background-color: $gris;
  p{
  font-size: 1.5rem;
  font-family: $fuenteCuerpo;
  text-align: center;
}
  h2{
  font-size: 1.5rem;
  font-family: $fuenteTitulo;
  text-align: center;
}
}

.cantidad-productos {
  border:  solid $verde;
  background-color: $gris;
  color: $verde;
  font-size: 1.3rem;
  font-family: $fuenteTitulo;
  text-align: center;
  padding: 1rem;
  appearance: none;
}
.sidebar{
    /*modificar para que me abra una ventana emergente al dar click a filtro*/
    text-align: center;
    h2{
    font-family: $fuenteTitulo;
    font-size: 2rem;
    text-align:start;
}

    p{
    font-family: $fuenteCuerpo;
    font-size: 1.5rem;
    text-align: start;
}
}


.list-cafeteria{
    list-style-type: none;
    display: grid;
    gap: 2rem;
    padding-left: 0;
    
}

.filtro-submit{
    background-color: $blanco;
    border-color: $negro;
    border-radius: 5%;
    font-size: 1.5rem;
    font-family: $fuenteTitulo;
    padding: 0.5rem;
    transition: background-color .3s ease;
    
    &:hover {
    cursor: pointer;
    background-color: $cafeSecundario;
}
   
}
.grilla-productos-cafe{
    @include disp-grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto; 
    column-gap: 3rem;
    row-gap: 5rem;
    margin: 4rem;
   
}

.grilla-producto-cafe p, input{
    width: 100%;
}

.grilla-producto-cafe img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.submit {
    color: $blanco;
    background-color: $cafeSecundario;
    border-color: $cafe;
    border-radius: 5%;
    font-size: 1.3rem;
    font-family: $fuenteTitulo;
    padding: 1rem;
    transition: background-color .5s ease;
    
    &:hover {
    cursor: pointer;
    background-color: $gris;
    color: $negro;
}

}


