/*CAFE, PASTELERIA,CURSOS Y CATAS, CONTACTO*/
.titulo {
  color: $verde;

  h1{
  text-align: center;
  font-size: 4rem;
  padding: 3rem 3rem 0 3rem;

  }
  
}

.filtro{
  padding: 4rem 2rem;
}
.filtro h2{
  color: $verde;
  border-bottom: 1px solid $verde;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.list_filtro{
  list-style-type: none;

}
.btn_menu{
  background-color: $blanco;
  border: none;
  font-size: 2rem;
  font-family: $fuenteCuerpo;
  transition: 0.3s;
}
.btn_menu:hover{
  cursor: pointer;
  font-weight: bold;
  font-size: 2.3rem;

}

.contenedor_principal_productos{
  display: grid;
  grid-template-columns: 20% 80%; 
}

.box_productos {
  display: grid;
  grid-template-columns: repeat(4, 20%); 
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem 2rem;
}
.box {
  background-color: $cafe;
  border-radius: 1rem;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descripcion_producto h2{
  color: $negro;
  font-family: $fuenteTitulo;
  text-align: center;
  font-size: 2rem;
  padding-top:1rem;
}
.descripcion_producto p{
  color: $verde;
  font-size: 1.5rem;
  font-family: $fuenteCuerpo;
  text-align: center;
  font-weight: bold;
}
.btn{
  width: 90%;
  padding: 0;
}
.btn button{
  background-color: $gris;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 5%;
  transition: 0.3s;
  color: $negro;
}

.btn:hover button{
  background-color: $verde;
  color: $blanco;
}















