.contacto-bg{
    background-image: url(../assets/img/contacto.png);
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
} 
.formulario {
    background-color: $blanco;
    margin: -7rem auto 0 auto;
    width: 80%;
    padding: 2rem;
}

.campo {
    display: flex;
    margin-bottom: 1rem;
    text-align: right;
    

}
 .campo-label {
    font-size: 1.5rem;
    flex: 0 0 9rem;
    padding-right: 2rem;
 }

 .campo-field {
     font-size: 1.5rem;   
     flex: 1;

 }

 .campo-field-textarea{
     height: 15rem;

 }
 .boton {
    display: block;
    font-family: $fuenteTitulo;
    color: $verde;
    text-align: center;
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    
    &:hover{
    cursor: pointer;
}
}
 .boton-primario {
    background-color: $gris;

}

