.bg {
    @include disp-flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.175),rgba(0, 0, 0, 0.474)),  url(../assets/img/bayas-cafe-1-scaled.png) ;
    @include bg-config;
    flex-direction: column;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  
  
  .frase-principal {
    padding: 2rem;
    text-align: center;
    color: $blanco;
    
    h1 {
    font-size: 5rem;
  } 
    h2 {
    font-size: 2rem;
  }
  }
  
  
  
  /*espacios, productos destacados y opiniones  */
  .subtitulos h2 {
    background-color: $cafeSecundario;
    font-size: 3rem;
    color: $blanco;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  /*ESPACIOS*/
  .carousel-inner {
    >.item {
      
      >img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: auto;
      }
      >a {
        >img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          margin: auto;
        }
      }
    }
  }
  
  .item{
    h3 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
    p {
    font-size: 0;
  }
  }
  
  
  
  /*frase */
  .barra {
    background-color: $cafeSecundario;
    padding: 2rem;
  }
  
  .barra__bg {
    @include disp-flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 600px;
    background-image: url(../assets/img/coffe_branch_2.png);
    @include bg-config;
  }
  

  .element1 {
    h2, p{
    text-align: center;
  }
  }
  
  .element2 {
    overflow: hidden;
    transform: scale(1);
    transition: .5s;
    &:hover{
      transform: scale(1.1);
    }
    img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
    
  }
  }
  
  .style1{
    color: $verde;
 }
 
 .productos-destacados{
  padding: 1rem;
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: center;;
  img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    &:hover{
      cursor: crosshair;
      width: 200px;
      opacity: 1;
    }
  }
 
 }

  /*OPINIONES DE CLIENTES*/
  .opinions {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  
  .opinions-body {
    width: 100%;
    height: auto;
    p {
    color: $negro;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 500;
  }
    h3 {
    font-size: 2rem;
    color: $verde;
    margin-left: 2rem;
  }
    img {
    width: 6rem;
    height: auto;
    display: block;
  }
  }
  
  .img-nombre {
    display: flex;
  }
  
  
