.grilla-productos-pasteleria{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;    
    gap: 2rem;
    margin: 3rem;
   
}

.grilla-producto-pasteleria{
    p, input{
    width: 100%;
}
    img{
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 20px $verde;
}
    &:hover{
    transform: scale(1.2);
}
}

