$gris: #f6f6f4;
$cafe: #8c522c;
$cafeSecundario: #ccab95;
$verde: #4b6246;
$blanco: #ffffff;
$negro: #000000;
$fuenteTitulo:'League Spartan', sans-serif;
$fuenteCuerpo: 'Roboto', sans-serif;
$bs-border-color: #4b6246;

/*GENERALES*/
h1, h2, h3, a{
    font-family: $fuenteTitulo;
   
}
p {
    font-family: $fuenteCuerpo;
}


